/*
 * TODO: 
 * Change font sizes to relative
 *
 */

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	background-color: black;
	margin: 0;
	padding: 0;
	font-family: "PT Sans Narrow", sans-serif;
	color: white;
	font-size: 20px;
}

a:link {
	color: gray;
	text-decoration: none;
}

a:visited {
	color: gray;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

nav {
	display: block;
	text-align: center;
	margin-top: 50px;
}

nav a {
	padding: 10px;
}

.minor-heading {
	text-align: center;
	font-size: 32px;
	margin:0;
}

#logo { 
	color: white;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	display: table;
	font-size: 3.9em;
	font-family: 'Lobster', sans-serif;
	background-color: black;
}

.info-text {
	padding: 50px;
	margin: 0 auto;
	width: 400px;
}

#colophon {
	display: block;
	height: 100%;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	background-color: black;
	margin-top: 0;
}

#splash {
	margin: 0 auto;
	margin-top: 60px;
	height: 596px;
	width: 400px;
	background-image: url('assets/FACE.jpg');
	background-repeat: no-repeat;
	border: 2px solid #0f0f0f;
	border-radius: 20px;
}

#cc-icon {
	margin-top: 4em;
	margin-left: auto;
	margin-right: auto;
	height: 31px;
	width: 88px;
	background-image: url('assets/cc-icon.png');
}

#attrib {
	margin-bottom: 0;
	font-size: 15px;
	text-align: center;
}

.resume-menu {
	font-size: 22px;
}

.resume-menu p:first-child {
	font-size: 25px;
}

.resume-menu p:nth-child(2) { 
	margin-left: 50px;
}

.resume-menu ul {
	margin-left: 50px;
	list-style-image: url('assets/flame.jpg');
}

.resume-menu li {
	margin-top: 15px;
	margin-bottom: 15px;
}

#twitter {	
	display: inline-block;
	margin: 0 0 0 0;
	height: 128px;
	width: 128px;
	background-image: url("assets/twitter.png");
}

#github {
	display: inline-block;
	margin: 0 0 0 0;
	height: 128px;
	width: 128px;
	background-image: url("assets/github.png");
}

#email {
	display: inline-block;
	margin: 0 30 15 0;
	height: 95px;
	width: 95px;
	background-image: url("assets/email.png");
}

#icons {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height:128px;
	width: 390px;
}

.thumb-row {
}

.left-col {
	color: white;
	display: inline-block;
	height: 150px;
	width: 263px;
	background-image: url("assets/shark-thumb.png");
	background-size: cover;
	
	margin-left: 0;
	float: left;
	text-align: center;
}
.middle-col {
	display: inline-block;
	height: 150px;
	width: 263px;
	background-image: url("assets/jellyfish-thumb.png");
	background-size: cover;
	margin-left: 5px;
	text-align: center;
}
.right-col {
	color: black;
	display: inline-block;
	height: 150px;
	width: 263px;
	background-image: url("assets/flame-thumb.png");
	background-size: cover;
	float: right;
	margin-right: 0;
	text-align: center;
}

.thumb-caption {
	font-size: 25px;
	margin-top: 55px;
}

.separator {
	display: block;
	margin-left: auto;
	margin-right:auto;
	width: 69px;
	height: 100px;
	background-color: black;
	padding-left: 1px;
}

.separator div {
	display: inline-block;
	margin-top: 40px;
	height: 20px;
	width: 20px;
	border-radius: 10px;
	background-color: white;
}